@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 184 0;
    --color-foreground: 31 31 31;
    --color-background: 239 239 239;
    --color-base: 255 255 255;
  }
  :root[class~='dark'] {
    /* --color-foreground: 211 215 217; */
    --color-foreground: 215 215 211;
    --color-background: 29 29 29;
    --color-base: 18 18 18;
  }
}

* {
  @apply transition-colors duration-75;
}
