@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 184 0;
    --color-foreground: 31 31 31;
    --color-background: 255 255 255;
  }
  :root[class~='dark'] {
    --color-foreground: 250 250 250;
    --color-background: 18 18 18;
  }
}

* {
  @apply transition-colors duration-75;
}

.app-container {
  @apply container mx-auto px-6 sm:px-20 2xl:px-16;
}

.btn-primary {
  @apply w-fit flex gap-2 bg-foreground text-background px-4 py-2 rounded items-center mt-4 hover:opacity-75;
}

.btn-secondary {
  @apply w-fit flex gap-2 px-4 py-2 items-center mt-4 border-foreground/50 border rounded hover:bg-foreground/5 transition-colors;
}

.section-title {
  @apply text-3xl md:text-4xl font-thin;
}

.solution-text {
  @apply text-2xl font-thin pb-12;
}