---
import TextInput from '../../components/TextInput.astro'
import Layout from '../../layouts/Layout.astro'
import Table from '../../components/Table.astro'
import CryptArithmeticSolver from '../../components/react/CryptArithmeticSolver'
---

<Layout title="CryptArithmetic Problem">
  <main class="container mx-auto py-20 px-2 sm:px-20 2xl:px-16 mt-12">
    <h1
      class="font-title text-5xl md:text-7xl leading-none px-4 md:px-0 z-10 pt-8 break-all lg:break-normal"
    >
      CryptArithmetic Problem
    </h1>
    <p class="font-light py-6 md:w-[70%] px-4 md:px-0">
      A cryptarithmetic problem is a type of mathematical puzzle where the
      digits in an arithmetic equation are replaced by letters. Each letter
      represents a unique digit, and the goal is to find the correct digit for
      each letter to satisfy the equation.
    </p>
  </main>
  <CryptArithmeticSolver client:only="react" />
</Layout>
