---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <h1>H3llo</h1>
  </main>
</Layout>
