---
const { title, route } = Astro.props
---

<a
  class="w-full h-full p-8 border-b border-r border-foreground/25 dark:border-foreground-dark/25 hover:bg-foreground/5 dark:hover:bg-foreground-dark/5 transition-colors"
  href={route}
>
  <h2
    class="font-light text-2xl overflow-hidden text-ellipsis whitespace-wrap"
  >
    {title}
  </h2>
</a>
