---
const { title, route } = Astro.props
---

<a
  class="border-[1px] border-foreground rounded-lg p-12 hover:bg-background"
  href={route}
>
  <h2
    class="font-light text-center md:text-left text-xl lg:text-2xl xl:text-3xl overflow-hidden overflow-ellipsis whitespace-wrap"
  >
    {title}
  </h2>
</a>
