---
import { Icon } from 'astro-icon/components'
const { class: className } = Astro.props
---

<div
  class:list={[
    className,
    'border border-foreground rounded-full flex justify-center items-center text-foreground [&>*:hover]:brightness-75 md:opacity-80',
  ]}
>
  <button
    data-theme="theme-auto"
    aria-label="Auto Theme"
    class="theme-button theme-auto"
  >
    <Icon
      name="mdi:brightness-auto"
      class:list="duration-0 text-lg"
    />
  </button>
  <button
    data-theme="theme-light"
    aria-label="Light Theme"
    class="theme-button theme-light"
  >
    <Icon
      name="mdi:white-balance-sunny"
      class:list="duration-0 text-lg"
    />
  </button>
  <button
    data-theme="theme-dark"
    aria-label="Dark Theme"
    class="theme-button theme-dark"
  >
    <Icon
      name="mdi:moon-and-stars"
      class:list="duration-0 text-lg"
    />
  </button>
</div>

<style>
  button.theme-button {
    @apply p-1 rounded-full duration-0;
  }
  button.active {
    @apply text-background bg-foreground bg-opacity-90;
  }
</style>
