---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
import BaseHead from '../components/BaseHead.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Playground is a collection of interactive simulators for computer science concepts for helping in understanding & experimenting."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
